<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.example.mapper.ArticleMapper">
    <insert id="add">
        insert into article(title, content, cover_img, state, category_id, create_user, create_time, update_time)
        values(#{title}, #{content}, #{coverImg}, #{state}, #{categoryId},#{createUser}, #{createTime}, #{updateTime})
    </insert>

    <select id="list" resultType="org.example.pojo.Article">
        select *
        from article
        <where>
            <if test="categoryId != null">
                category_id = #{categoryId}
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
            create_user = #{userId}
        </where>
    </select>
    <select id="listDetail" resultType="org.example.pojo.Article">
        select *
        from article
        where id in
        <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="titleSelect" resultType="org.example.pojo.Article">
        select *
        from article
        where title like concat('%',#{name},'%')
        and flag = 0
    </select>
    <select id="cadata" resultType="org.example.pojo.Article">
        select *
        from article
        where update_time <![CDATA[ > ]]> now()
        and flag = 0
    </select>

<!--    提取筛选字段，自定义sql语句-->
    <sql id="articleBaseSql">
        id,title,content,state,category_id
    </sql>
    <select id="articleList" resultType="org.example.pojo.Article">
        select <include refid="articleBaseSql"></include>
        from article
        ${ew.customSqlSegment}
    </select>

    <!--    <update id="update">-->
<!--        update article-->
<!--        set title=#{title}, content=#{content}, cover_img=#{coverImg},-->
<!--            state=#{state}, category_id=#{categoryId}, update_time=#{updateTime}-->
<!--        where id=#{id}-->
<!--    </update>-->

<!--    <select id="get" resultType="org.example.pojo.Article">-->
<!--        select *-->
<!--        from article-->
<!--        where id=#{id}-->
<!--    </select>-->

<!--    <delete id="delete">-->
<!--        delete from article-->
<!--        where id=#{id}-->
<!--    </delete>-->

</mapper>
